.news-scroller-wrapper {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgb(236, 236, 235);
}
.news-break {
  height: 80px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.news-scroller {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scrolling-content {
  animation: scrollNews 40s linear infinite;
}

.news-scroller:hover .scrolling-content {
  animation-play-state: paused;
}

@keyframes scrollNews {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.news-html-content p {
  margin: 0 0 6px;
}

.publish-date {
  font-size: 0.8rem;
  color: #6c757d;
}
