.news-scroller-wrapper {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: rgb(236, 236, 235);
}

.news-scroller {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scrolling-content {
  animation: scrollNews 35s linear infinite;
}

.news-scroller:hover .scrolling-content {
  animation-play-state: paused;
}

@keyframes scrollNews {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.news-html-content p {
  margin: 0 0 6px;
}

.publish-date {
  font-size: 0.8rem;
  color: #6c757d;
}
