.news-scroller-wrapper {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  border-radius: 6px;
}

.news-scroller-wrapper:hover {
  background-color: #ececeb;
}

.news-scroller {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: relative;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.news-scroller::-webkit-scrollbar {
  width: 6px;
}

.news-scroller::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.news-break {
  height: 80px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.news-html-content p {
  margin: 0 0 6px;
}

.publish-date {
  font-size: 0.8rem;
  color: #6c757d;
}
